@use 'mixinsfunc';
body{
    background: url('./img/bg_02.png') repeat-x left -180px #73ace2;
}
.container{
    align-self: center;
    background-color: rgba(238,230,230,.5);
    border: 1px solid #f5f5f5;
    border-radius: 4px;
    margin-top: mixinsfunc.pixels-rem(8);
    margin-bottom: mixinsfunc.pixels-rem(8);
}
.general{
    &_color{
        color: #326273;
    }
    
}
.btn{
    color: #326273;
    border-color: #326273;
    &:hover{
        background-color: grey;
    }

    &-outline-info{
        &:hover{
            &:active{
                background-color: #326273;
            }
        }

    }
}
.table{
    color: #326273;
    font-size: small;
    vertical-align: middle;
}
.nav-item{
    color: #326273;
}
.active{
    font-weight: bold;
}
.navbar-nav .nav-link.active{
    color: #326273;
}